<div class="about">
<h2>About</h2>
<center><img src="uploads/sp.jpg" style="width:256px; height: 320px; padding-bottom: 20px;"></img></center>
<p>Cruz Valdez's work has been published in titles such as American Vogue, New York Times Style Magazine, AnOther, Luncheon, and New York Magazine. Valdez has lensed covers for Dazed, GQ, Vogue Japan, Purple, Interview Magazine and others.</p>
<p>Clients of Valdez's include Marc Jacobs, Bottega Veneta, Carolina Herrera, Theory, Dion Lee, Savage Fenty, and Google.</p>
<p>Valdez has previously been invited by the Leslie-Lohman Museum of Art, Pratt University, and for Models.com to share her experience in the field of photography.</p>
<p>She is represented by CLM Agency and based in New York City. Valdez holds a Bachelor of Fine Art degree in Art Photography from California State University Long Beach.</p>
</div>
